body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.label.big
{
    font-size: 14px;
    margin: 0;
}

.residencelist
{
    font-size: 2em;
}

.residencelist li ul
{
    list-style-type: none;
    line-height: 1;

    margin-bottom: 0.5em;
}

.residencelist li ul li
{
    display: inline-block;
    height: 12px;
}

.residencename
{
    display: inline-block;
    margin-right: 15px;
}

.activitypanel em
{
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    display: block;
}

.activitypanel
{
    padding: 8px;
}

.newresidence
{
    width: 300px;
    padding: 6px;
}

.newactivity
{
    width: 425px;
    padding: 6px;
}

.newactivity li:not(:last-child) {
    margin-bottom: 8px;
}

.residentname {
    display: inline-block;
    margin-right: 0.3em;
}