@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <h1>Welcome to Roombait</h1>
        <p>Roombait lets you manage various chores and activities for your shared living space. It helps you and your roommates make sure that things get done on time, and can help
            you be punctual about it too!</p>
        <p>Create an account to get started, or log in if you know the drill.</p>
    </div>
</div>