@using Roombait.App
@model Roombait.ViewModels.Residence.ResidenceIndexViewModel
@{
    ViewData["Title"] = "Your Residences";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <hr />
    <ul>
        @foreach (Residence residence in Model.Residences)
        {
            <h2>
                <li>
                    <a href="Residence/@residence.ResidenceID/@Util.GetSlug(residence)">@residence.Name</a>
                    <br/>
                    @foreach (ApplicationUser resident in residence.Residents)
                    {
                        <span class="label big label-primary">@resident.Name</span>
                    }
                </li>
            </h2>
        }
    </ul>
</div>
