@using Roombait.App
@model Roombait.ViewModels.Residence.ResidenceIndexViewModel
@{
    ViewData["Title"] = "Your Residences";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <hr />
    <ul class="residencelist">
        @foreach (Residence residence in Model.Residences)
        {
            <li>
                <a href="Residence/@residence.ResidenceID/@Util.GetSlug(residence)">@residence.Name</a>

                @if (residence.Residents != null && residence.Residents.Count > 0)
                {
                    <br />
                    <ul>
                        @foreach (ApplicationUser resident in residence.Residents)
                        {
                            <li>
                                <span class="label big label-primary">@resident.Name</span>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>
